<table class="table table-borderless table-hover *ngIf='show'">
  <thead class="table-secondary">
    <tr>
      <th scope="col">No.</th>
      <th scope="col">Airline</th>
      <th scope="col">Flight No.</th>
      <th scope="col">Trip Type</th>
      <th scope="col">Departure Airport</th>
      <th scope="col">Arrival Airport</th>
      <th scope="col">Departure Date</th>
      <th scope="col">Return Date</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor ="let flight of flightData">
      <td scope="row">{{flight.id}}</td>
      <td>{{flight.airline}}</td>
      <td>{{flight.flight_no}}</td>
      <td>{{flight.trip_type}}</td>
      <td>{{flight.departure_airport}}</td>
      <td>{{flight.arrival_airport}}</td>
      <td>{{flight.departure_date}}</td>
      <td>{{flight.return_date}}</td>
      <td>
        <a href="/edit/{{flight.id}}" type="button" class="btn btn-success btn-sm text-white mx-2">Edit</a>
        <button (click)="deleteOne(flight.id)" type="button" class="btn btn-danger btn-sm">Delete</button>
    </td>
    </tr>
    
    
  </tbody>
</table>
<button (click)="deleteAll()" type="button" class = "btn btn-lg btn-danger ml-2">Delete All</button>